.info-element {
  border-left: 3px solid #1c84c6;
}

.meeting-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

.meeting-list > li {
  margin-bottom: 27px;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}

.meeting-list > li:hover {
  background-color: #f5f5f5;
}

.meeting-list > li > time {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.meeting-list > li > time > .date {
  display: block;
  font-size: 40pt;
  font-weight: 100;
  line-height: 1;
}
.meeting-list > li time > .day {
  display: block;
  font-size: 21pt;
  font-weight: 900;
  line-height: 1;
}
.meeting-list > li > img {
  width: 100%;
}
.meeting-list > li > .info {
  padding-top: 5px;
  text-align: center;
}
.meeting-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.meeting-list > li > .info > .desc,
.meeting-list > li > .info > .duration {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}

.duration {
  font-size: 12px!important;
}

.collapse-meeting {
  position: relative;
  float: left;
  text-align: right;
}


@media (min-width: 768px) {
  .meeting-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  .meeting-list > li > time {
    display: inline-block;
  }

  .meeting-list > li > time {
    width: 120px;
    float: left;
  }

  .meeting-list > li > .info {
    overflow: hidden;
  }

  .meeting-list > li > time {
    width: 120px;
    height: 120px;
    padding: 11px;
    margin: 0px;
  }

  .meeting-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }	

  .meeting-list > li > .info > .title, 
  .meeting-list > li > .info > .desc,
  .meeting-list > li > .info > .duration {
    padding: 4px 18px;
  }
}


.be-logo {
  width: 100%;
}