<div class="tabbable-panel">
    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <li class="active">
          <a href="#tab_default_1" data-toggle="tab">
            Dashboard </a>
        </li>
        <li>
          <a href="#tab_default_2" data-toggle="tab">
            Organization info </a>
        </li>
        <li>
          <a href="#tab_default_3" data-toggle="tab">
            User List </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">

        </div>
        <div class="tab-pane" id="tab_default_2">

        </div>
        <div class="tab-pane" id="tab_default_3">
          <div class="ng-scope ng-isolate-scope">
            <div role="complementary" class="md-content ng-scope _md">
              <div class="search-wrapper">
                <div class="search-right">
                  <button class="md-button md-ink-ripple" type="button">
                    <span>Invite Users</span>
                  </button>
                  <button class="md-button md-ink-ripple" type="button">
                    <span class="ng-scope">Edit
                      <img src="https://pendo-static-5119881445900288.storage.googleapis.com/empty-i_808080" class="_pendo-badge _pendo-badge_"
                        style="width: 13px; height: 13px; padding-left: 5px;">
                    </span>
                    <span class="ng-scope ng-hide">Done</span>
                  </button>
                </div>
                <div class="search-container">
                  <input type="text" placeholder="Filter Members" class="ng-pristine ng-valid ng-empty ng-touched">
                </div>
              </div>
              <div id="orgUserList" class="user-list-content">
                <ul class="md-list">
                  <li class="md-list-item" tabindex="-1">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="ng-scope">
                                <img src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226822/h5o3acihraoqxi2gwevd.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Amber Banks</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="md-list-item" tabindex="-1">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="ng-scope">
                                <img src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226895/zanvuau9s9awtgpebkok.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Antonia Doyle</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="md-list-item" tabindex="-1" aria-label="Dana Gray">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="ng-scope">
                                <img src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226921/xn8wc3e1tca59w2yqvps.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Dana Gray</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="md-list-item" tabindex="-1">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="user-initials ng-binding ng-hide" aria-hidden="true">
                                GA
                              </div>
                              <div class="ng-scope">
                                <img src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226942/wypfuigezyhlczlpnfnk.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Gilbert Alvarado</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="md-secondary-container"></div>
                    </div>
                  </li>
                  <li class="md-list-item" tabindex="-1" aria-label="Glen Black">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="ng-scope">
                                <img ng-src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226961/lrurollowwoucoqzylg5.jpg" src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226961/lrurollowwoucoqzylg5.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Glen Black</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="md-list-item" tabindex="-1" aria-label="Marshall Reeves">
                    <div class="md-button md-no-style">
                      <div class="md-list-item-inner">
                        <div class="user-row layout-row" layout="row">
                          <div class="left-container">
                            <div class="user-image" aria-hidden="false">
                              <div class="ng-scope">
                                <img src="https://res.cloudinary.com/hobaclzxv/image/upload/c_fill,h_40,w_40/v1418226984/gywmoof4sdtxvtt6e7ir.jpg">
                              </div>
                            </div>
                          </div>
                          <div flex="" class="flex">
                            <div class="user-name">
                              <div class="ng-binding">Marshall Reeves</div>
                            </div>
                          </div>
                          <div class="right-container">
                            <div class="remove-container ng-hide" aria-hidden="true">
                              <i class="gicon-remove-circle" role="button" tabindex="0"></i>
                            </div>
                            <select class="md-select" tabindex="0">
                              <option class="md-select-value" value="">Member</option>
                              <option class="md-select-value" value="">Administrator</option>
                              <option class="md-select-value" value="">Creator</option>
                              <option class="md-select-value" value="">Not A Member</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="pagination-controller">
                <div class="pagination-right">
                  <i class="icon gicon-keyboard-arrow-right" aria-label="Next Page, Current Page 1 of 1" ng-click="UserPaginationController.NextPage('orgUserList')"
                    role="button" tabindex="0"></i>
                </div>
                <div class="pagination-right">
                  <i class="icon gicon-keyboard-arrow-left" aria-label="Previous Page, Current Page 1 of 1" ng-click="UserPaginationController.PreviousPage('orgUserList')"
                    role="button" tabindex="0"></i>
                </div>
                <div class="pagination-right ng-binding">1-7 of 7</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>